USE [DBPolomka]
GO
/****** Object:  Table [dbo].[Car_Brands]    Script Date: 18.03.2023 1:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Brands](
	[Id_CarBrand] [int] IDENTITY(1,1) NOT NULL,
	[Name_Brand] [nvarchar](max) NULL,
 CONSTRAINT [PK_Car_Brands] PRIMARY KEY CLUSTERED 
(
	[Id_CarBrand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 18.03.2023 1:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id_Client] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Patronic] [nvarchar](max) NULL,
	[Phone] [nvarchar](11) NULL,
	[Car_Number] [nvarchar](max) NULL,
	[Id_CarBrand] [int] NOT NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 18.03.2023 1:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id_Employee] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Patronic] [nvarchar](max) NULL,
	[Lives] [nvarchar](max) NULL,
	[Phone] [nvarchar](11) NULL,
	[Education] [nvarchar](max) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id_Employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 18.03.2023 1:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id_Order] [int] IDENTITY(1,1) NOT NULL,
	[Id_Service] [int] NOT NULL,
	[Id_Employee] [int] NOT NULL,
	[Id_Client] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 18.03.2023 1:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id_Service] [int] IDENTITY(1,1) NOT NULL,
	[Name_Service] [nvarchar](max) NULL,
	[Price_Service] [int] NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id_Service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Car_Brands] ON 

INSERT [dbo].[Car_Brands] ([Id_CarBrand], [Name_Brand]) VALUES (1, N'Лада')
INSERT [dbo].[Car_Brands] ([Id_CarBrand], [Name_Brand]) VALUES (2, N'БМВ')
INSERT [dbo].[Car_Brands] ([Id_CarBrand], [Name_Brand]) VALUES (3, N'Мерседес')
SET IDENTITY_INSERT [dbo].[Car_Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id_Employee], [Name], [Surname], [Patronic], [Lives], [Phone], [Education]) VALUES (1, N'Ахмед', N'Сулатов', N'Нурсултанович', N'г.Казань', N'89600837776', N'Высшее-Инженер-Механик')
INSERT [dbo].[Employee] ([Id_Employee], [Name], [Surname], [Patronic], [Lives], [Phone], [Education]) VALUES (2, N'Александр', N'Краснов', N'Григорьевич', N'г.Екатеринбург', N'89600837775', N'Высшее-Программист-Механик')
INSERT [dbo].[Employee] ([Id_Employee], [Name], [Surname], [Patronic], [Lives], [Phone], [Education]) VALUES (3, N'Ислам', N'Рикен', N'Раулович', N'г.Самара', N'89600837676', N'Среднее-Проффесиональное-Механик')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id_Order], [Id_Service], [Id_Employee], [Id_Client], [Date]) VALUES (12, 3, 2, 5, CAST(N'2023-03-18T01:12:39.940' AS DateTime))
INSERT [dbo].[Order] ([Id_Order], [Id_Service], [Id_Employee], [Id_Client], [Date]) VALUES (13, 2, 4, 6, CAST(N'2023-03-18T01:12:41.410' AS DateTime))
INSERT [dbo].[Order] ([Id_Order], [Id_Service], [Id_Employee], [Id_Client], [Date]) VALUES (14, 1, 2, 5, CAST(N'2023-03-18T01:12:42.463' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id_Service], [Name_Service], [Price_Service]) VALUES (1, N'Замена Масла', 1800)
INSERT [dbo].[Services] ([Id_Service], [Name_Service], [Price_Service]) VALUES (2, N'Замена Тормозов', 5500)
INSERT [dbo].[Services] ([Id_Service], [Name_Service], [Price_Service]) VALUES (3, N'Обновление ЛКП', 15000)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Car_Brands] FOREIGN KEY([Id_CarBrand])
REFERENCES [dbo].[Car_Brands] ([Id_CarBrand])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Car_Brands]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Clients] FOREIGN KEY([Id_Client])
REFERENCES [dbo].[Clients] ([Id_Client])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Clients]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([Id_Employee])
REFERENCES [dbo].[Employee] ([Id_Employee])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Services] FOREIGN KEY([Id_Service])
REFERENCES [dbo].[Services] ([Id_Service])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Services]
GO
